KAFKA_BROKER=redpanda:9092 or localhost:9092 #depends on your setup if you are running redpanda in docker or locally
KAFKA_TOPIC=kafka_topic_name #name of the Kafka topic to which the producer will send messages and from which the consumer will read messages
ASSET_LIST=btcusdt,ethusdt,solusdt #comma-separated list of assets to track, e.g. btcusdt,ethusdt,solusdt,adausdt
WEBSOCKET_URL=wss://stream.binance.com:9443/ws #Binance WebSocket URL for real-time data streaming
POSTGRES_USER=postgres #PostgreSQL username
POSTGRES_PASSWORD=postgres #PostgreSQL password
POSTGRES_DB=db_name #name of the PostgreSQL database to which the consumer will save messages
POSTGRES_HOST=db_host #hostname or IP address of the PostgreSQL server, e.g. localhost or db
POSTGRES_PORT=5432 #default PostgreSQL port, change if your setup uses a different port